@import "../../../node_modules/muse-ui/less/colors"; // 默认基础的变量

// 修改基础变量

@primaryColor: @lightBlue;           // 主色
@darkerPrimaryColor: @lightBlue700;  // 更深的主色
@lighterPrimaryColor: @grey400;      // 浅一点的主色
@accentColor: @pinkA200;             // 强调色
@darkerAccentColor: @grey100;        // 更深的强调色
@lighterAccentColor: @grey500;       // 浅一点的强调色

// 文本颜色
@textColor: @darkBlack;
@secondaryTextColor: fade(@fullBlack, 54%);
@alternateTextColor: @white;
@borderColor: fade(@fullBlack, 12%);
@disabledColor: fade(@fullBlack, 38%);

// background
@backgroundColor: @white;           // 背景色
@statusBarBackgroundColor: @grey300; // web项目没有状态栏，所以也没有使用
@appbarBackgroundColor: @grey100; // 并未在appbar组件中应用
@dialogBackgroundColor: @white; // dialogs、 cards、 paper 组件背景

// icon color
@activeIconColor: fade(@fullBlack, 54%);
@inActiveIconColor: fade(@fullBlack, 38%);

@import "../../../node_modules/muse-ui/less/theme-vars.less";  // 默认组件变量



// 修改组件样式
.mu-tabs{
  background-color: @white !important;
}
.mu-tabs .mu-tab-active{
  color: @deepPurple400;
}
.mu-appbar-title{
  color: @white;
}
.mu-appbar i{
  font-size: 35px;
  color: @white;
}


@import "../../../node_modules/muse-ui/less/theme.less"; // 主题相关的样式
